:root {
    --primary-color: var(--p-primary-color);
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: var(--p-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: var(--p-focus-ring-color);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: var(--p-focus-ring-shadow);
    --button-warn-dark-bg: #9C330C;
    --button-warn-dark-hover-bg: #CA450C;
    --button-danger-dark-bg: #AE1919;
    --button-danger-dark-hover-bg: #C71F1F;
    --p-button-info-color: #ffffff !important;
    --p-button-info-hover-color: #ffffff !important;
    --p-button-info-active-color: #ffffff !important;
    --p-button-info-background: #0E5C81 !important;
    --p-button-info-hover-background: #0E6C9A !important;
    --p-button-info-active-background: #0E6C9A !important;
    --p-button-info-border-color: #0E5C81 !important;
    --p-button-info-hover-border-color: #0E6C9A !important;
    --p-button-info-active-border-color: #0E6C9A !important;
}
